<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TelefonBilgiGuncelleme.Properties.Settings.WEBPORTALConnectionString" connectionString="Data Source=192.168.0.44;Initial Catalog=WEBPORTAL;Persist Security Info=True;User ID=report;Password=report" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
